/**ベースのStyle **/

.button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #fff;
  border-radius: 5px;
  transition: .4s;
}

/** Filled **/
.button--filled {
  background: #ff5a5f;
}

/** Outlined **/
.button--outlined {
  background: transparent;
  border: 2px solid #668ad8;
  color: #668ad8;
}

/** Large **/
.button--large {
  padding: 1em 2em;
}

/** Small **/
.button--small {
  padding: 0.3em 0.7em;
}
/**
- 課題
  - 記述量が多い
  - 状態に応じた条件分岐が必要
    - 例： style === filled ? 'button--filled' : style === outlined ? 'button--outlined' : ''
** /